@import "./common/color.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $primary_color;
  color: white;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}
